name = "YOUR APP NAME HERE"
main = "worker.js"
compatibility_date = "2025-06-12"

[assets]
directory = "./dist"
binding = "ASSETS"
not_found_handling = "single-page-application"

# =============================================================================
# PRODUCTION ENVIRONMENT
# =============================================================================
[env.production]
name = "primitive-app-template-prod"

# Attach a custom domain so the Worker is the origin for this host.
# [[env.production.routes]]
# pattern = "YOUR URL NAME HERE"   # <-- entire host goes to this Worker
# custom_domain = true

[env.production.vars]
# Your production APP ID.  Should match what's configured in .env.production
APP_ID="YOUR_PRODUCTION_APP_ID"

API_ORIGIN = "https://primitiveapi.com/"
REFRESH_PROXY_COOKIE_MAX_AGE = "604800"
REFRESH_PROXY_COOKIE_PATH = "/proxy/"